:root {
    --clr-primary-100: hsl(321, 100%, 78%);
    --clr-primary-200: hsl(322, 100%, 66%);
    --clr-primary-400: hsl(0, 100%, 63%);

    --clr-neutral-900: hsl(192, 100%, 9%);
    --clr-neutral-400: hsl(206, 45%, 89%);
    --clr-neutral-200: hsl(206, 9%, 65%);
    --clr-neutral-100: hsl(207, 100%, 98%);
}