.counts {
    font-family:'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:  2rem;
    margin-bottom: 2rem;


    &__container {
        display: flex;
        flex-direction: column;
  
        img {
            transform: scale(0.5, 0.5);
            margin-right: auto;
        }

        h1 { font-size: 3rem;}
        h5 { font-size: .7rem; color: var(--clr-neutral-200); font-weight:400}
    
    }
}

@media only screen and (max-width: 600px) {
    .counts {
        flex-direction: column;
        gap: 3rem;
    }
}