.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 7rem;

    &__title {
        display: flex;
        img {
            transform: scale(0.5, 0.5);
        }
    }

    &__button {
        color: var(--clr-primary-200);
        border: var(--clr-primary-200) 1px solid;
        border-radius: 1.5rem;
        text-decoration: none;
        font-size: .75rem;
        font-weight: lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1.5rem
    }

    &__button:hover {
        color: var(--clr-primary-100);
        border: var(--clr-primary-100) 1px solid;
    }


}