@use './color';
.calc-keypad {
    &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 1.3rem;
        border-radius:0.7rem;
        margin-top: 2rem;
        justify-content: center;

        &--theme-1{
            background-color: color.$color-theme1-bg-2 ;
        }

        &--theme-2{
            background-color: color.$color-theme2-bg-2 ;
        }

        &--theme-3{
            background-color: color.$color-theme3-bg-2 ;
        }
       
    }
}