@use './color';
.calc-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    &--theme-1 {
        color: color.$color-theme1-key-text-white; 
    }

    &--theme-2 {
        color: color.$color-theme2-key-text-yellow; 
    }

    &--theme-3 {
        color: color.$color-theme3-key-text-1; 
    }
}