@use './color';

.theme-switcher-container {
    display: flex;
    flex-direction: column;
    &__label {
        display: flex;
        justify-content:space-between;
        margin-left: 50%;
        align-items: center;
        margin-bottom: -2rem;
        padding-inline: 0.5rem;
    }
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:13px;
    h5 {
        text-transform: uppercase;
    }
    &__scroll {
        width: 3.5rem;
        height: 1.5rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        padding-inline: 0.3rem;
        &--theme-1 {
            justify-content: flex-start;
            background-color: color.$color-theme1-bg-2;
        }
        &--theme-2 {
            justify-content: center;
            background-color: color.$color-theme2-bg-2;
        }
        &--theme-3 {
            justify-content: flex-end;
            background-color: color.$color-theme3-bg-2;
        }
    }

    &__ball {
        &--theme-1 {
            background-color: color.$color-theme1-key-red;
        }
        &--theme-2 {
            background-color: color.$color-theme2-key-orange;
        }
        &--theme-3 {
            background-color: color.$color-theme3-key-bg-2;
        }
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
        filter: blur(1px);
    }
}