@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--veryLightGray);
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: var(--softRed);
}

.grey {
    background-color: var(--grayishBlue);
}

:root {
    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(240, 11%, 50%);
    --paleRed: hsl(357, 100%, 86%);
    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGray: hsl(223, 19%, 93%);
    --veryLightGray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

.App {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    width: 70%;
    line-height: 1.5rem;
}

.card {
    background-color: white;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    margin-block: 1rem;
}

.card-content {
    color: var(--grayishBlue);
    padding-right: 10rem;
}

.card-content__replyingTo {
    color: var(--moderateBlue);
    font-weight: 700;
    display: inline;
    padding-right: 0.25rem;
}

.card-reply {
    padding-left: 5rem;
    margin-left: 5rem;
    border-left: 3px solid var(--lightGray);
}

.card-author-image {
    width: 2rem;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-author-date {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.you-tag {
    background-color: var(--moderateBlue);
    color: var(--veryLightGray);
    font-weight: 700;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    text-transform: lowercase;

}

.card-date {
    color: var(--grayishBlue);
}

.card-author {
    color: var(--darkBlue);
    font-weight: 500;
}

.pile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 1.5rem;
    border-radius: 10px;
    background-color: var(--lightGray);
    padding: 0.75rem;
    font-weight: 700;
    color: var(--moderateBlue);
}

.delete-pop {
    display: flex; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.delete-pop-up {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 23%;
}

.delete-pop-up__title {
    font-weight: 700;
    color: var(--darkBlue);
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.delete-pop-up__content {
    font-size: 1rem;
    color: var(--grayishBlue);
}

.btn-group {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 40%;
    text-transform: uppercase;
}
