{
    "arrowParens": "avoid",
    "disableLanguages": ["html"],
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 2,
    "vueIndentScriptAndStyle": true
  }