$color-dark-blue: hsl(209, 23%, 22%);
$color-dark-blue-hover: hsl(209, 23%, 30%);
$color-very-dark-blue-dark: hsl(207, 26%, 17%);
$color-very-dark-blue-light: hsl(200, 15%, 8%);
$color-dark-gray: hsl(0, 0%, 52%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-very-light-gray-border: hsl(0, 0%, 90%);
$color-white: hsl(0, 0%, 100%);
