@use './colors';

.dropdown {
  width: 10%;
  &__button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    &--darkTheme {
      background-color: colors.$color-dark-blue;
      color: colors.$color-white;
    }
    &__button:hover {
      outline: none;
      box-shadow: none;
    }
  }

  &__list {
    &__item {
      padding: 5px;
      border-radius: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      &:hover {
        background-color: colors.$color-very-light-gray;
      }
      &--darkTheme {
        &:hover {
          background-color: colors.$color-dark-blue-hover;
        }
      }
    }

    ul {
      list-style-type: none;
      padding: 15px;
      margin: 0px;
    }

    position: absolute;
    background-color: colors.$color-white;
    border-radius: 5px;
    margin-top: 10px;
    width: 9.5rem;
    &--darkTheme {
      background-color: colors.$color-dark-blue;
      color: colors.$color-white;
    }
    // background-color: colors.$color-
  }
}
