@use './colors';
.search-bar {
  flex-basis: 30%;
  border: none;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: colors.$color-white;
  &--darkTheme {
    background-color: colors.$color-dark-blue;
    color: colors.$color-white;
  }
}
