:root {
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
}

.App {
  /* text-align: center; */
  font-family: 'Manrope', sans-serif;
}

.Modal-container {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px;
}

.Modal__first-row {
  color: rgb(157, 164, 176);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display:flex;
  align-items: center;
  /* float: left; */
}

.Modal__first-row h1 {
  color: rgb(45, 50 ,79)
}

.scroll {
  width:100%
}

.gap {
  min-width: 182px;
}

.gap-xs {
  min-width: 20px;
}

.billingTypeSwitch {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;

}

.Modal {
  border: 1px solid white;
  width:35%;
  background-color:white;
  border-radius:5px;
  box-shadow: 0px 0px 5px 2px rgb(238, 240, 249);
  padding:40px
}

.circle1 {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(215, 219, 229);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top:100px;
  left:52%;
  pointer-events:none;
  z-index: -1;
}

.circle2 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(215, 219, 229);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top:110px;
  left:45%;
  pointer-events:none;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 150px;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  font-weight:600;
}

.App-header h2 {
  color: rgb(46, 52, 82);
  font-size: 30px;
  margin-bottom: 0px;
}

.App-header h3 {
  color: rgb(157, 164, 176);
  font-size:15px
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  padding: 0px 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}